<link rel="stylesheet" type="text/css" href="/css/styles.css">
<%- include('partials/header') %>

<section class="about-me">
  <div class="container">
    <div class="about-content">
      <h1>About Me</h1>
      <div class="profile-image">
        <img src="/assets/images/my-image.jpg" alt="Your Photo">
      </div>
      <p class="description">
        I am a current student at Centennial College pursuing a post-graduate Software Engineering Technician program. My academic journey has equipped me with expertise in Python, JavaScript, and TypeScript, and I've gained hands-on experience in real-world applications using JavaScript, Node.js, Express, REST API, React, SQL, and NoSQL. My strong foundation in object-oriented programming, coupled with my ability to work effectively within diverse teams and share best practices, sets me apart. Proficient in Microsoft Word, Excel, PowerPoint, and more, I am eager to contribute my skills and knowledge to meaningful software engineering projects, driven by a passion for problem-solving and a commitment to excellence.
      </p>
      <a href="https://drive.google.com/file/d/1dRRjVr9A_MiswoZLbgQgStntdxGPRWMK/view?usp=sharing" class="button">Download Resume (PDF)</a>
    </div>
  </div>
</section>

  <%- include('partials/footer') %>