<header>
  <!-- Include your header content here -->
  <%- include('partials/header') %>
</header>

<section class="hero">
  <div class="container">
    <div class="hero-content">
      <div class="hero-text">
        <h1>Welcome to My Portfolio</h1>
        <p class="mission">Elvin Hatamov (He/Him)
          Full Stack Developer | Modern Web Technologies Enthusiast | JavaScript | React | Node.js | Cloud Computing | Actively Learning & Growing | Seeking Challenging</p>
        <a href="/about" class="button">Learn More</a>
      </div>
      <div class="profile-photo">
        <img src="/assets/images/my-image.jpg" alt="Your  Photo" class="profile-image">
      </div>
    </div>
  </div>
</section>



<section class="social-media">
  <div class="container">
    <h2>Connect with Me</h2>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/elvinhatamov/" target="_blank">
        <img src="/assets/images/linkedin.png" alt="LinkedIn">
        <a href="https://github.com/elvinhatamov" target="_blank">
          <img src="/assets/images/github.png" alt="GitHub">
      </a>
      <!-- Add more social media icons and links here -->
    </div>
  </div>
</section>

<footer>
  <!-- Include your footer content here -->
  <%- include('partials/footer') %>
</footer>