<!-- views/projects.ejs -->
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<%- include('partials/header') %>
<section class="content">
  <h1>Projects</h1>
  
  <div class="project-card">
    <img src="assets/images/image1.png" alt="Project 1">
    <div class="project-info">
      <h2>Megazon</h2>
      <p>
        Metazon is an ecommerce application that sells digital products. It is essentially Amazon for the Metaverse. This app is designed for a not too distant future where digital spaces and virtual environmments are part of our everyday lives. This app will provide customers a location to purchase their digital necessities and allow artists and creatives to sell their goods and services.
      </p>
      <a href="https://github.com/elvinhatamov/Megazon" class="button">View Project</a>
    </div>
  </div>

  <div class="project-card">
    <img src="assets/images/pull1.png" alt="Project 2">
    <div class="project-info">
      <h2>Pull-up Application</h2>
      <p>
        Pull Up is a parking application that people can either rent the parking spot from others or become a host to rent your spot.
        This app's idea is based on Airbnb for people who have some extra spots on their driveway or garage and can rent these spots to others.
        Pullup’s mission is to create a world where anyone can park anywhere, and we are focused on creating a parking space-sharing platform that will handle every part of your daily life and make it more convenient.
        The app allows users to sign up and log in to the website and allow them to become host or rent a parking space from the others.
There is an awesome map funcion which can let user clearly visaulize the location

      </p>
      <a href="https://github.com/elvinhatamov/Pull-up" class="button">View Project</a>
    </div>
  </div>

  <div class="project-card">
    <img src="assets/images/assign1.png" alt="Project 3">
    <div class="project-info">
      <h2>Movie application</h2>
      <p>
       Working on the application where, useres can check which movies will come to the cinemas soon. 
      </p>
      <a href="https://github.com/elvinhatamov/301419466COMP228Lab1" class="button">View Project</a>
    </div>
  </div>
</section>
<!-- Repeat similar code for additional projects -->
<%- include('partials/footer') %>